.Rproj.user
.Rhistory
.RData
.Ruserdata
Bellevue University/Courses/DSC530/FinalProject/Airbnb_AustinData/listings.csv
Bellevue University/Courses/DSC530/FinalProject/Airbnb_AustinData/neighbourhoods.csv
Bellevue University/Courses/DSC530/FinalProject/Airbnb_AustinData/reviews.csv
Bellevue University/Courses/DSC530/FinalProject/electric-motor-temperature/pmsm_temperature_data.csv
Bellevue University/Courses/DSC530/FinalProject/FoodNetworkRecipesAndInteractions/interactions_test.csv
Bellevue University/Courses/DSC530/FinalProject/FoodNetworkRecipesAndInteractions/interactions_train.csv
Bellevue University/Courses/DSC530/FinalProject/FoodNetworkRecipesAndInteractions/interactions_validation.csv
Bellevue University/Courses/DSC530/FinalProject/FoodNetworkRecipesAndInteractions/PP_recipes.csv
Bellevue University/Courses/DSC530/FinalProject/FoodNetworkRecipesAndInteractions/PP_users.csv
Bellevue University/Courses/DSC530/FinalProject/FoodNetworkRecipesAndInteractions/RAW_interactions.csv
Bellevue University/Courses/DSC530/FinalProject/FoodNetworkRecipesAndInteractions/RAW_recipes.csv
Bellevue University/Courses/DSC520/FinalProject/zillow-prize-1/properties_2016.csv
Bellevue University/Courses/DSC520/FinalProject/zillow-prize-1/properties_2016_sample_20.csv
Bellevue University/Courses/DSC520/FinalProject/zillow-prize-1/properties_2016_sample_30.csv
Bellevue University/Courses/DSC520/FinalProject/zillow-prize-1/properties_2017.csv
Bellevue University/Courses/DSC550/Week2/controversial-comments.jsonl
Bellevue University/Courses/DSC550/Week2/controversial-comments_small.jsonl
*.zip
