.Rproj.user/
.Rhistory
.RData
.Ruserdata/
*.exe
*.zip
*.csv
venv/
data/
Bellevue University/Courses/DSC550/Week2/controversial-comments.jsonl
Bellevue University/Courses/DSC550/Week2/controversial-comments_small.jsonl
