html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

/** 
body{background:#333; font-family:sans-serif;}
**/
body
{ font: serif .80em 'trebuchet ms', arial, sans-serif;
  background-color: #F0EFE2 url(background.png) repeat;
  color: #FFF;
  background: url(canyonlake.jpg) no-repeat center center fixed;
    background-size:cover;}

p
{ padding: 0 0 20px 0;
  line-height: 1.7em;}

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ font: Monospace 175% 'century gothic', arial, sans-serif;
  color: #000;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;}

h2
{ font: normal 175% 'century gothic', arial, sans-serif;}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: normal 120% arial, sans-serif;}

h5, h6
{ font: italic 95% arial, sans-serif;
  padding: 0 0 15px 0;}

a, a:hover
{ outline: none;
  text-decoration: underline;
  color: #00A;}

a:hover
{ text-decoration: underline;
color: #00A;}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right; 
  width: auto;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}

blockquote
{ margin: 20px 0; 
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#header
{ background: transparent;
  height: 202px;}

#logo
{ background: url(background-glass.jpg);
  width: 898px;
  position: relative;
  height: 148px;
 text-align: center;}

#logo_text 
{ text-align:center;
}

#logo #logo_text 
{ 
  top: 20px;
  left: 40px;}

#logo h1, #logo h2
{ font: normal 300% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover 
{ padding: 22px 0 0 0;
  color: #FF2;
    font-family:Montague;
    font-size: 3em;
    text-align: center;
   
  letter-spacing: -1px;
  text-decoration: none;}

#logo_text h1 a .logo_colour
{ color: #0F0;}

#logo_text h1 a .logo_colour2
{ color: #00F;}

#logo_text h2
{ font-size: 100%;
  padding: 4px 0 0 0;
  color: #000;}

#menubar
{ width: 898px;
  height: 52px;
  padding: 0;
  background: url(background.png) repeat;} 

ul#menu, ul#menu li
{ float: left;
  margin: 0; 
  padding: 0;}

ul#menu li
{ list-style: none;}

ul#menu li a
{ letter-spacing: 0.1em;
  font: normal 100% arial, sans-serif;
  display: block; 
  float: leftn
  margin: 10px 0 0 10px;
  padding: 9px 26px 6px 26px;
  text-align: center;
  color: #00F;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;} 

ul#menu li a:hover, ul#menu li.selected a, ul#menu li.selected a:hover
{ color: #FA057E;
  background: #8f7;}

#cover{
            background:url(canyonlake.JPG) no-repeat;
            position:absolute;
            top: 0;
            bottom:0;
            left:0;
            right:0;
            z-index:101;
        }
#site_content
{ 
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 0 24px 20px 20px;
}

.sidebar
{ float: left;
  width: 410px;
  padding: 0 15px 20px 15px;}

.sidebar h3{
    font-size:1.5em;
    color:saddlebrown;
    font-weight: bold;}

.sidebar ul
{ width: 300px; 
  padding: 4px 0 0 0; 
  margin: 4px 0 30px 0;
    }

.sidebar li
{ list-style: none; 
  padding: 0 0 7px 0;
font-size: 1em;}

.sidebar ul li a, .sidebar li a:hover
{ padding: 0 0 0 40px;
  display: block;
  color:chocolate;
  background: transparent url(link.png) no-repeat left center;} 



.sidebar li a.selected
{ color: #7E2451;
  text-decoration: none;} 

.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}


.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
#content
{ text-align: left;
  float: left;
  width: 595px;
  padding: 0;}

#membership{
    font-size: 1em;
    background: #F0EFE2;
}


#content h1{
    font-size:1.5em;
    color:saddlebrown;
    font-weight: bold;}

#content h2,p {
    font-size : 1em;
    color:chocolate;
}
#content h3 {
    font-size : 1.5em;
    Color: #FFF;
}
#content ul
{ margin: 2px 0 22px 0px;
color:#00F;
}

#content ul li 
{ list-style-type: none;
  background: url(link.png) no-repeat;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;color:saddlebrown;}

@font-face {
    font-family: BleedingCowboys;
    src: url('./fonts/BleedingCowboys.ttf'); 
    }
@font-face {
    font-family: Montague;
    src: url('./fonts/Montague.ttf'); 
    }

@font-face {
    font-family: shadser;
    src: url('./fonts/shadser.ttf'); 
    }
@font-face {
    font-family: trocadero;
    src: url('./fonts/trocadero.ttf'); 
    }


#footer footer
{ 
  font: normal 100% 'lucida sans unicode', arial, sans-serif;
  font-family: shadser;
  height: 33px;
  padding: 24px 0 5px 0;
 
  bottom: 0; 
  width:100%;
  text-align: center; 
  background: transparent;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;display:block;
}

#footer a
{ color: #FFF;
  text-decoration: none;}

#footer a:hover
{ color: #000;
  text-decoration: underline;}

.search
{ color: #5D5D5D; 
  border: 1px solid #BBB; 
  width: 134px; 
  padding: 4px; 
  font: 100% arial, sans-serif;}

#colours
{ height: 0px;
  text-align: right;
  padding: 66px 16px 0px 300px;}
  
.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 200px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 5px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: beige; 
  color: #47433F;}
  
.form_settings .reset
{ font: 100% arial; 
  border: 1px solid; 
  width: 99px; 
  margin: 0 0 0 100px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #000; 
  color: #FFF;}
  
.form_settings .submit
{ font: 100% arial; 
  border: 1px solid; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #000; 
  color: #FFF;}
  
.form_settings textarea, .form_settings select
{ font: 100% arial; 
  width: 299px;}

.form_settings select
{ width: 310px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}

.separator
{ width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;}
  
table
{ margin: 10px 0 30px 0;
border-collapse: collapse;}

input[type="submit"]{
    color:darkblue;
}
input[type="reset"]{
    color:darkblue;}

td input[type=text] {
    font-weight: bolder;
    color:darkblue;
}
table tr th, table tr td
{ background: #3B3B3B;
  color: #FFF;
  padding: 7px 4px;
  text-align: left;}
  
table tr td
{ background: #F0EFE2;
    font-weight: bolder;
  color: darkblue;
  border-top: 1px solid #FFF;}